<a href="https://colab.research.google.com/github/tripti369/Code../blob/main/TRIPTI_TIWARI_LAB_3_(ID%3DIITDSMD_25040137)11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Function to add two numbers
def add(a, b):
    return a + b

# Call the function and store the result
result = add(3, 4)

# Print the result
print(result)  # Output: 7

7

In [ ]:
# Function that prints a greeting
def say_hi(name):
    print("Hi", name)

# Call the function
say_hi("Alice")  # Output: Hi Alice

Hi Alice

In [ ]:
# Function with default parameter
def greet(name="Guest"):
    print("Hello", name)

greet()          # Output: Hello Guest
greet("John")    # Output: Hello John

Hello Guest
Hello John

In [ ]:
# Function with multiple default parameters
def func(a, b=2, c=3):
    return a + b + c

print(func(1))         # Output: 6
print(func(1, 4))      # Output: 8
print(func(1, 4, 5))   # Output: 10

6
8
10

In [ ]:
#question2

# Function to return square of number
def square(n):
    return n * n

# Calling square function
print(square(4))  # Output: 16

# Calling another function named calculate_area
# Example function call:
# calculate_area(5, 10)

16

In [ ]:
#Question3
# Function returning multiple values
def get_values():
    return 1, 2, 3  # Tuple is returned

print(get_values())  # Output: (1, 2, 3)
def greet(name):
    print("Hello", name)

# greet("Alice", "Bob")  # ❌ This will raise TypeError: too many arguments

(1, 2, 3)

In [ ]:
# Question 4
print("hello world".split())          # Output: ['hello', 'world']
print("apple,banana,mango".split(',')) # Output: ['apple', 'banana', 'mango']

# Join example
print("-".join(['a', 'b', 'c']))       # Output: a-b-c

['hello', 'world']
['apple', 'banana', 'mango']
a-b-c

In [ ]:
# Question 5
# Concatenation with +
str1 = "Hello, my name is Rishabh"
str2 = "My mom is my World"
result = str1 + " " + str2
print(result)  # Output: Hello, my name is Rishabh My mom is my World

# Append 's' to string
word = "Lab"
word = word + 's'
print(word)  # Output: Labs

# List += and append difference
list1 = [1, 2]
list2 = [3, 4]
list1 += list2
print(list1)  # Output: [1, 2, 3, 4]

list1 = [1, 2]
list1.append(list2)
print(list1)  # Output: [1, 2, [3, 4]]

Hello, my name is Rishabh My mom is my World
Labs
[1, 2, 3, 4]
[1, 2, [3, 4]]

In [ ]:
# Question 6
# Wrong function name used in return. Correcting it first.
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n - 1)

print(fact(10))  # Output: 3628800
# print(fact(4.5))  ❌ Will raise RecursionError (float not supported)
# print(fact(-1))   ❌ Will cause infinite recursion
print(fact(0))   # Output: 1

3628800
1

In [ ]:
# Question 7(i)
var = 10

def modify_var():
    global var
    var = 20
    print("Inside function:", var)

modify_var()
print("Outside function:", var)

Inside function: 20
Outside function: 20

In [ ]:
# Question 7(ii)
var = 10

def modify_var():
    var = 20
    print("Inside function:", var)

modify_var()
print("Outside function:", var)

Inside function: 20
Outside function: 10

In [ ]:
# Question8
def count_python(sentence):
    # Make lowercase and split into words
    words = sentence.lower().split()
    count = 0
    for word in words:
        if 'python' in word:
            count += 1
    return count

# Example sentence
text = """Python is a powerful language. I started learning PYTHON last year, and since
then, I've used python3, python-requests, and PythonAnywhere for various
projects. Although some people confuse Python with pYtHoNic or even CPython,
the core of PYTHON programming remains elegant and efficient. Interestingly, I
once named a variable python_snake just for fun!"""

print(count_python(text))  # Output: 10

10

In [ ]:
# Question 9
def print_upper(text):
    if not text.isupper():
        print(text.upper())
    else:
        print(text)

print_upper("hello")     # Output: HELLO
print_upper("HELLO")     # Output: HELLO

HELLO
HELLO

In [ ]:
# QUESTION 10
def reverse_string(s):
    return s[::-1]

print(reverse_string("hello"))  # Output: olleh

olleh